<!DOCTYPE html>

<html>

<head>
	<title>About page</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
		{{>header}}
		<p>This site was created by Vaibhav Reddy.It uses data from mapbox and weatherstack!!</p>
		<img class="potrait" src="/img/me.JPG">
	</div>

	<p>{{>footer}}</p>
</body>

</html>