<!DOCTYPE html>

<html>

<head>
	<title>Help Page</title>
	<link rel="icon" href="/img/weather.png">
	
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
		{{>header}}
		<h2>{{name}}</h2>
		<h3>{{email}}</h3>
	</div>

	<p>{{>footer}}</p>
</body>

</html>